<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title> Website's Tab Title </title>
		<meta charset="UTF-8" />
    		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    		<link rel="stylesheet" href="./jass.css">
	</head>
	<body>
		<header class="m-3"> 
            <nav>
                <ul class="nav-links">
                    <li><a href="/"><b>Home</b></a></li>
                </ul>
            </nav>
            <div class="text-center"><h1>Test</h1></div>
        </header>
		<main class="m-3">
			{{{body}}}
		</main>
	</body>
</html>