<div class="flex-row flex-no-wrap justify-center">
    <div id="login-container" class="p-5">
        <form>
        <label>Title:</label>
        <input type="text" name="title" id="title" placeholder="Input Title">
        <br>

        <label>Description:</label>
        <input type="text" name="description" id="description" placeholder="Input Description">
        <br>

        <input type="file" name="imgfile" accept="image/jpeg" id="imgfile">
        <button id="submitBtn" >Submit</button>
        
        <div class="" id="images"></div>
        <script src="./public/js/cloud.js"></script>
        </div>
    </form>
    </div>
</div>